@import '../../../../theme/colors.scss';

.account-menu {
    position: absolute;
    right: 0px;
    top: 60px;
    width: 200px;
    padding: 10px 0 10px 0;
    z-index: 9999;
    text-align: center;
    background-color: $shadow-dark;
    border-radius: 0 0 8px 8px;

    p {
        margin-top: 10px;
    }

    .item-list_btn {
        padding: 20px;
        text-align: center;

        p {
            margin: 0;
        }
    }
}