.button-holder {
  text-align: center;
  button {
    font-size: 14px;
    padding: 12px 25px 12px 25px;
    transition: box-shadow .3s;
    border: 1px solid rgb(212, 212, 212);
  }
  button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
  }
}
