.error-label {
    font-size: 13px;
    margin-left: 5px;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(231, 131, 131);
    // animation-name: slide-top;
    // animation-duration: 1s;
}