.reservation-modal {
  // Button Activator
  .footer_right-box {
    position: absolute;
    display: flex;  
    right: 0;
    padding-right: 20px;
    .footer-button {
      margin-left: 10px;
      margin-top: 3px;
    }
    .confirm {
    background-color: rgb(146, 144, 108); 
    }
  } 
  .dialog_activator-btn {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .reservation-btn {
    position: relative;
    width: 100%;
    background: rgb(146, 144, 108);
    color: rgb(24, 24, 24);
    font-size: 13px;
    border-radius: 2px;
    top: 15px;
    border-radius: 4px;
  }
  .reservation-btn:hover {
    font-size: 13px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    color: rgb(17, 17, 13);
    box-shadow: 0 0 0 4px rgb(146, 144, 108);
  }
  // Content of Dialog 
  .reservation-step {
    position: relative;
    width: 100%;
    height: 400px;
    padding-bottom: 20px;
    .subtitle {
      position: relative;
      padding-left: 20px;
      font-size: 14px;
      color: rgb(214, 214, 214);
    }
    .services-box {
      width: 100%;
      display: flex;
      margin-top: 40px;
    .list_services-box {
      position: relative;
      width: 50%;
      height: 270px;
      overflow-y: scroll;
      overflow-x: hidden;
      // SERVICE OF LIST OF SERVICES
      .service {
        position: relative;
        height: 70px;
        width: 100%;
        padding-bottom: 1px;
        animation-name: slide-top;
        animation-duration: 1s;
        cursor: pointer;
        .circle-icon {
          position: absolute;
          left: 20px;
          top: 35%;
        }
        .name {
          font-size: 14px;
          color: rgb(214, 214, 214);
          padding-top: 10px;
          margin: 0;
        }
        .price {
          font-size: 14px;
          color: rgb(214, 214, 214);
          margin: 0;
          padding-top: 10px;
        }
        .service-text {
          font-family: 'Courier New', Courier, monospace;
          font-size: 18px;
        }
      }
      .service:hover {
        background-color: rgb(85, 85, 85);
      }
      .no-results {
        position: relative;
        color: rgb(49, 49, 49);
        top: 30%;
      }
    }
    .selected_services-box {
      position: relative;
      width: 50%;
      height: 270px;
      overflow-y: scroll;
      .confirm_service-box {
        animation-name: slide-opacity;
        animation-duration: 1s;
        text-align: center;
        .name {
          color: rgb(214, 214, 214);
        }
        .price {
          color: rgb(214, 214, 214);
        }
        .info {
          color: rgb(214, 214, 214);
        }
        .sub-footer {
          position: absolute;
          bottom: 5px;
          width: 100%;
          display: flex;
          text-align: center !important;
          .content-footer {
            margin: auto;
            display: flex;
          }
          .cancel_cart-btn {
            margin-left: 5px;
          }
          .confirm {
            background-color: rgb(146, 144, 108); 
            }
        }
      }
      .selected_service {
        width: 100%;
        overflow-x: hidden;
        .service {
          position: relative;
          height: 70px;
          padding-left: 60px;
          padding-bottom: 1px;
          cursor: pointer;
          animation-name: slide-left;
          animation-duration: 1s;
        }
        .service:hover {
          background-color: rgba(255, 218, 218, 0.329);
          .circle-icon {
            visibility: hidden;
          }
          .trash-icon {
            visibility: visible;
          }
        }
        .circle-icon {
          position: absolute;
          left: 20px;
          top: 35%;
        }
        .name {
          font-size: 14px;
          color: rgb(214, 214, 214);
          padding-top: 5px;
          margin: 0;
        }
        .price {
          font-size: 14px;
          color: rgb(214, 214, 214);
          margin: 0;
          padding-top: 10px;
        }
        .trash-icon {
          position: absolute;
          visibility: hidden;
          left: 20px;
          top: 35%;
        }
      }
      .service:hover {
        background-color: rgba(255, 218, 218, 0.329);
      }
    }
    }
    .barbers-box {
      width: 100%;
      display: flex;
      margin-top: 40px;
      overflow-x: none;
      .barber {
        position: relative;
        width: 90%;
        height: 80px;
        margin:auto;
        margin-left: 20px;
        margin-bottom: 5px;
        // top: 40px;
        cursor: pointer;
        border-radius: 12px;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        animation-name: slide-top;
        animation-duration: 1s;
        .img {
          position: absolute;
          left: 0px;
          width: 70px;
          height: 70px;
          top: 2px;
          border-style: solid;
          border-color: white;
          border-radius: 50%;
          filter: grayscale(1);  
        }
        .barber-name {
          position: absolute;
          left: 90px;
          top: 0px;
          font-size: 14px;
          color: rgb(214, 214, 214);
        }
      }
      .barber:hover {
        background-color: rgb(85, 85, 85);
        .img {
          filter: grayscale(0);
        }
      }
      .list_barbers-box {
        position: relative;
        width: 50%;
        height: 360px;
        overflow-y: scroll;
      }
      .selected_barber-box {
        position: relative;
        width: 50%;
        height: 360px;
        .barber {
          margin: auto;
          margin-bottom: 5px;
          animation-name: slide-left;
          animation-duration: 1s;
        }
        .barber:hover {
          background-color: rgba(255, 218, 218, 0.329);
        }
        .img {
          filter: grayscale(0);  
        }
      }
    }
    .time-box {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      top: 40px;
      padding-left: 20px;
      padding-right: 20px;
      .calendar-box {
        position: relative;
        width: 90%;
        animation-name: slide-top;
        animation-duration: 1s;
        .selcted_datetime {
          color: white;
          margin: 0;
          margin-top: 20px;
        }
        .react-calendar {
          border-radius: 4px;
          border-style: none;
          background-color: rgba(105, 105, 105, 0.5);
          // padding: 5px;
          abbr,span {
            color: rgb(255, 255, 255);
          }
          .react-calendar__navigation__arrow {
            color: white;
          } 
          .react-calendar__navigation__arrow:hover {
            background-color: rgb(146, 144, 108); 
          } 
          .react-calendar__navigation__label:hover {
            background-color: rgb(146, 144, 108); 
          }
          .react-calendar__tile.react-calendar__month-view__days__day {
            border-radius: 4px;
          }
          .react-calendar__tile {
            color: white;
          }
          .react-calendar__tile--now {
            background-color: rgb(107, 107, 107); 
          }
          .react-calendar__tile--active {
            background-color: rgb(146, 144, 108); 
          }
          .react-calendar__tile:hover {
            background-color: rgba(255, 255, 255, 0.178);
          }
        }
      }
      .hours-box {
        position: relative;
        width: 90%;
        height: max-content;
        margin: auto;
        animation-name: slide-left;
        animation-duration: 1s;
        border-radius: 4px;
        .hour-item {
          display: inline-block;
          position: relative;
          width: 50px;
          height: max-content;
          padding: 10px;
          margin: 0 10px 10px 10px;
          border-radius: 4px;
          background-color: rgba(239, 239, 239, 0.5);
          color: white;
          .hour {
            padding: 0;
            margin:0;
            color: rgb(214, 214, 214);
          }
        }
        .hour-item:hover {
          background-color: rgba(255, 255, 255, 0.178);
        }
        .selected-hour {
          background-color: rgb(146, 144, 108); 
        }
      }
    }
    .client_info-box {
      position: relative;
      width: 100%;
      margin-top: 40px;
      overflow-x: none;
      animation-name: slide-top;
      animation-duration: 1s;
    }
    .confirm_data-box {
      position: relative;
      width: 100%;
      margin-top: 40px;
      overflow-x: none;
      .confirm_info {
        font-size: 14px;
        color: rgb(214, 214, 214);
        animation-name: slide-left;
        animation-duration: 1s;
      }
    }
  }
}
@keyframes slide-left {
  0%   { opacity: 0;left: 20px; }
  100% { opacity: 1;left: 0px; }
}
@keyframes slide-opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes slide-top {
  0%   { top:100px;}
  100% { top:0px;}
}