
.reservation-modal {
  $footer-height: 40px;
  .activator-btn {
    position: relative;
    height: 100%;
    width: max-content;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
  }
  .reservation-btn:hover {
    font-size: 13px;
    color: white;
  }
  // Content of Dialog 
  .reservation-step {
    position: absolute;
    width: 100%;
    height: calc(100%  - 60px); // step fop
    .step-title {
      position: relative;
      height: 60px;
      display: flex;
      align-items: center;
      text-align: center;
      p {
        position: relative;
        width: max-content;
        font-size: 14px;
        margin: 0;
        margin: auto;
        color: rgb(214, 214, 214);
      }
    }
    .services-box {
      position: relative;
      width: 100%;
      height: calc(100% - 80px); // footer
      display: flex;
    .list_services-box {
      position: relative;
      width: 50%;
      height: 100%; // footer
      overflow-y: scroll;
      overflow-x: hidden;
      // SERVICE OF LIST OF SERVICES
      .service {
        position: relative;
        height: 70px;
        width: 100%;
        padding-bottom: 1px;
        margin-bottom: 10px;
        // background-color: green;
        animation-name: slide-top;
        animation-duration: 1s;
        cursor: pointer;
        .circle-icon {
          position: absolute;
          left: 20px;
          margin:0;
          top: 10px;
        }
        .name {
          position: absolute;
          top: 0;
          left: 60px;
          font-size: 14px;
          color: rgb(214, 214, 214);
          padding-top: 10px;
          margin: 0;
        }
        .price {
          position: absolute;
          top: 30px;
          left: 60px;
          font-size: 14px;
          color: rgb(214, 214, 214);
          margin: 0;
          padding-top: 10px;
        }
        .service-text {
          font-family: 'Courier New', Courier, monospace;
          font-size: 18px;
        }
      }
      .service:hover {
        background-color: rgb(85, 85, 85);
      }
      .no-results {
        position: relative;
        color: rgb(49, 49, 49);
        top: 30%;
      }
    }
    .selected_services-box {
      position: relative;
      width: 50%;
      height: 100%;
      // overflow-y: scroll;
      .confirm_service-box {
        animation-name: slide-opacity;
        animation-duration: 1s;
        text-align: center;
        .name {
          color: rgb(214, 214, 214);
        }
        .price {
          color: rgb(214, 214, 214);
        }
        .info {
          color: rgb(214, 214, 214);
        }
        .sub-footer {
          position: absolute;
          bottom: 5px;
          width: 100%;
          display: flex;
          text-align: center !important;
          .content-footer {
            margin: auto;
            display: flex;
          }
          .cancel_cart-btn {
            margin-left: 5px;
          }
          .confirm {
            background-color: rgb(146, 144, 108); 
            }
        }
      }
      .selected_service {
        width: 100%;
        overflow-x: hidden;
        .service {
          position: relative;
          height: 70px;
          padding-left: 60px;
          padding-bottom: 1px;
          cursor: pointer;
          animation-name: slide-left;
          animation-duration: 1s;
        }
        .service:hover {
          background-color: rgba(255, 218, 218, 0.329);
          .circle-icon {
            visibility: hidden;
          }
          .trash-icon {
            visibility: visible;
          }
        }
        .circle-icon {
          position: absolute;
          left: 20px;
          top: 35%;
        }
        .name {
          font-size: 14px;
          color: rgb(214, 214, 214);
          padding-top: 5px;
          margin: 0;
        }
        .price {
          font-size: 14px;
          color: rgb(214, 214, 214);
          margin: 0;
          padding-top: 10px;
        }
        .trash-icon {
          position: absolute;
          visibility: hidden;
          left: 20px;
          top: 35%;
        }
      }
      .service:hover {
        background-color: rgba(255, 218, 218, 0.329);
      }
    }
    }
    .barbers-box {
      position: relative;
      width: 100%;
      height: calc(100% - 80px); // footer
      display: flex;
      overflow-x: none;
      .barber {
        position: relative;
        width: 90%;
        height: 60px;
        margin:auto;
        margin-left: 20px;
        margin-bottom: 5px;
        cursor: pointer;
        border-radius: 12px;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        animation-name: slide-top;
        animation-duration: 1s;
        .img {
          position: absolute;
          left: 0px;
          width: 50px;
          height: 50px;
          top: 2px;
          border-style: solid;
          border-color: rgba(255, 255, 255, 0.329);
          border-radius: 50%;
          filter: grayscale(1);  
        }
        .barber-name {
          position: absolute;
          left: 90px;
          top: 0px;
          font-size: 14px;
          color: rgb(214, 214, 214);
        }
      }
      .barber:hover {
        background-color: rgb(85, 85, 85);
        .img {
          filter: grayscale(0);
        }
      }
      .list_barbers-box {
        position: relative;
        width: 50%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .selected_barber-box {
        position: relative;
        width: 50%;
        height: 360px;
        .barber {
          margin: auto;
          margin-bottom: 5px;
          animation-name: slide-left;
          animation-duration: 1s;
        }
        .barber:hover {
          background-color: rgba(255, 218, 218, 0.329);
        }
        .img {
          filter: grayscale(0);  
        }
      }
    }
    .time-box {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      .calendar-box {
        position: relative;
        animation-name: slide-top;
        animation-duration: 1s;
        .react-calendar {
          margin: auto;
          border-radius: 4px;
          border-style: none;
          background-color: rgba(105, 105, 105, 0.5);
          padding: 5px;
          abbr,span {
            color: rgb(255, 255, 255);
          }
          .react-calendar__navigation__arrow {
            color: white;
          } 
          .react-calendar__navigation__arrow:hover {
            background-color: rgb(146, 144, 108); 
          } 
          .react-calendar__navigation__label:hover {
            background-color: rgb(146, 144, 108); 
          }
          .react-calendar__tile.react-calendar__month-view__days__day {
            border-radius: 4px;
          }
          .react-calendar__tile {
            color: white;
          }
          .react-calendar__tile--now {
            background-color: rgb(107, 107, 107); 
          }
          .react-calendar__tile--active {
            background-color: rgb(146, 144, 108); 
          }
          .react-calendar__tile:hover {
            background-color: rgba(255, 255, 255, 0.178);
          }
        }
      }





      .hours-box {
        position: relative;
        width: 100%;
        max-width: 380px;
        margin:auto;
        text-align: center;
        animation-name: slide-top;
        animation-duration: 1s;
        margin-top: 10px;
        margin-bottom: 45px;
        // background-color: green;
        .hour-item {
          position: relative;
          height: max-content;
          margin:auto;
          margin: 2px;
          border-radius: 4px;
          color: white;
          button{
            // width: 30px;
          }
          .hour {
            color: rgb(214, 214, 214);
          }
        }
        .hour-item:hover {
          background-color: rgba(255, 255, 255, 0.178);
        }
        .selected-hour {
          button {
            color: white;
            background-color: rgb(146, 144, 108); 
          } 
        }
      }
      .selcted_datetime {
        position: absolute;
        margin: auto;
        text-align: center;
        bottom: 80px;
        color: white;
        background-color: red;
        // margin: 0;
        // margin-top: 20px;
      }
    }
    @media only screen and (max-width: 800px) { 
      .time-box {
        display: inline;
        text-align: center;
        .calendar-box {
          margin: auto;
        }
      }
    }
    .client_info-box {
      position: relative;
      width: 100%;
      margin-top: 40px;
      overflow-x: none;
      text-align: center;
      animation-name: slide-top;
      animation-duration: 1s;
    }
    .confirm_data-box {
      position: relative;
      width: 100%;
      margin-top: 40px;
      text-align: center;
      overflow-x: none;
      .confirm_info {
        font-size: 18px;
        color: rgb(170, 170, 170);
        animation-name: slide-left;
        animation-duration: 1s;
      }
    }
  }
  .footer {
      position: absolute;
      width: 100%;
      height: 40px;
      padding-top: 4px;
      bottom: 0px !important;
      border-radius: 0 0 8px 8px;
      background-color: #000000;
      border-color: rgba(128, 128, 128, 0.198);
      border-width: 2px;
      // Button Activator
      .footer_right-box {
        position: absolute;
        display: flex;  
        right: 0;
        padding-right: 20px;
        .footer-button {
          margin-left: 10px;
          margin-top: 3px;
        }
        .confirm {
        background-color: rgb(146, 144, 108); 
        }
      } 
  }
}
@keyframes slide-left {
  0%   { opacity: 0;left: 20px; }
  100% { opacity: 1;left: 0px; }
}
@keyframes slide-opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes slide-top {
  0%   { top:100px;}
  100% { top:0px;}
}