@import '../../styles/theme.scss';

.dialog_modal {}

.reserve-modal {
  .content {
    min-width: 700px;
  }

  .activator-btn {
    position: relative;
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
  }

  .step-subtitle {
    text-align: center;
  }

  .reserve-stepper {
    .time-box {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (max-width: $mobile-screen) {
  .reserve-modal {
    .content {
      width: 100%;
      min-width: 100%;
    }
  }

  .time-box {
    display: inline;
    text-align: center;

    .calendar-box {
      margin: auto;
    }
  }
}