@import '../../theme/colors.scss';
@import '../../theme/screen-size.scss';

.dialog_modalx {
  .reserve-stepper {

    /* refactor steps content in mobile */
    @media only screen and (max-height: 860px) {

      /* Scrollbar style */
      ::-webkit-scrollbar {
        width: 5px;
      }

      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px $shadow-color;
        background-color: $shadow-color;
      }

      ::-webkit-scrollbar-thumb {
        height: max-content !important;
        box-shadow: inset 0 0 3px $cool-color;
        border-radius: 5px;
      }

      .reserve-step {
        .services-box {
          height: 350px;
          overflow-y: scroll;
        }
      }
    }
  }
}

.reserve-modal {
  .activator-btn {
    position: relative;
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
  }

  .step-subtitle {
    text-align: center;
  }

  .reserve-stepper {
    .time-box {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (min-width: $size-xs) {
  .dialog_modalx {
    .dialog-modal {
      min-width: 500px !important;
    }
  }
}



@media only screen and (max-width: $size-xs) {
  .dialog_modalx {
    .dialog-modal {
      min-width: auto;
    }
  }

  .reserve-modal {
    .content {
      width: 100%;
      min-width: 100%;
    }
  }

  .time-box {
    display: inline;
    text-align: center;

    .calendar-box {
      margin: auto;
    }
  }
}

// mobile small screen
@media only screen and (max-width: 400px) {
  .reserve-step {
    height: 445px !important;
    overflow-x: hidden;
  }

  .time-box {
    display: inline;
    text-align: center;

    .calendar-box {
      margin: auto;
    }
  }
}