.reserve-dialog {
    width: 100%;

    .reserve-modal {
        position: relative;
        margin: auto;
        width: 600px;

        .reserve_data-box {
            position: relative;
            width: 80%;
            margin: auto;
            height: max-content;
            margin-top: 40px;
            text-align: center;

            .reserve_info {
                font-size: 18px;
                color: rgb(170, 170, 170);
            }
        }
    }

    @media only screen and (max-width: 750px) {
        .reserve-modal {
            width: 300px;
        }
    }
}