@import '../../styles/theme.scss';

.login-modal {
    display: flex;
    align-items: center;

    .dialog-modal {
        padding: 0;
        text-align: center;

        .info-box {
            margin: 20px;
            text-align: center;

            p {
                padding: 0;
                margin: 0;
            }
        }
    }


    /* SOCIAL BOX */
    .social-box {
        position: relative;
        width: max-content;
        height: max-content;
        margin: auto;

        .social-form-control-label {
            span {
                color: $light-text;
                font-size: 14px;
            }
        }
    }


    .account-menu {
        position: absolute;
        right: -20px;
        top: 60px;
        width: 200px;
        padding: 10px 0 10px 0;
        z-index: 9999;
        text-align: center;

        p {
            color: white;
            margin: 0;
            margin-top: 10px;
            padding: 0;
        }

        .item-text {
            position: relative;
            font-size: 12px;
        }

        .user-name {
            font-weight: bold;
            font-size: 14px;
        }

        .item-list_btn {
            padding: 20px;
            text-align: center;

            p {
                margin: 0;
            }
        }
    }
}

@keyframes slide-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}