@import '../../../styles/theme.scss';

.container-page {
    img {
        max-height: 350px !important;
    }
}

.course-card {
    width: 100%;
    height: max-content;

    // courses items
    .courses-items {
        position: absolute;
        left: 0 !important;
        z-index: 1;
        width: max-content;
        height: max-content;
        text-align: center;
        // display: inline-flexbox;
        // margin: auto;
        // background-color: red;

        .course-item {
            position: relative;
            width: max-content;
            margin: 40px 20px 0 20px;
            display: inline-table;
            text-align: center;

            .course-img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                filter: grayscale(1);
            }

            .course-name {
                margin-bottom: 20px;
                color: white;
            }

            .course-url {
                position: absolute;
                bottom: 0px;
                margin-left: 40%;
            }
        }

        .course-item:hover {
            .course-img {
                // transition: all 500ms ease-out;
                filter: grayscale(0);
            }

            .course-name {
                color: $cool-color;
            }
        }

        .selected {
            .course-img {
                filter: grayscale(0);
                // transition: all 1s ease-out;
            }

            .course-name {
                color: $cool-color;
            }
        }
    }

    .couse-container {
        position: relative;

        .info {
            color: white;
        }
    }


    // image and info
    .course-info {
        width: 100%;
        height: max-content;
        text-align: center;

        .info-box {
            color: white;
        }

        .selected-img {
            max-width: 250px;
        }
    }
}


// IPHONE5/SE
@media only screen and (max-width: 750px) {
    .courses-card {
        padding: 20px 0 20px 0;

        .course-item {
            height: max-content;

            .course-img {
                width: 100px;
                height: 130px;
            }
        }
    }
}