.courses-card {
    margin-bottom: 60px;

    .course-item {
        position: relative;
        margin: 5px;
        margin-top: 20px;
        width: 260px;
        height: 320px;
        display: inline-table;
        text-align: center;

        .course-name {
            color: white;
        }


        .course-duration {
            color: white;
        }

        .course-img {
            position: relative;
            width: 220px;
            height: 240px;
            border-radius: 4px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0px 0px 20px 0px rgb(68, 66, 52);
        }

        .course-url {
            position: absolute;
            bottom: 0px;
            margin-left: 40%;
            color: #3b3b3bbb;
        }
    }
}

// IPHONE5/SE
@media only screen and (max-width: 750px) {
    .courses-card {
        padding: 20px 0 20px 0;

        .course-item {
            height: max-content;

            .course-img {
                width: 100px;
                height: 130px;
            }

            .course-url {}
        }
    }
}