.success-box {
    margin: auto;
    text-align: center;

    .logo {
        opacity: 0.1;
        display: flex;
        align-items: center;

        .logo-img {
            width: 68%;
            height: auto;
            margin: auto;
        }
    }
}