.art_experience-button {
    border-radius: 4px;
    button {
        background: rgb(146, 144, 108);
        color: rgb(24, 24, 24);
    }
}
.art_experience-button_outlined {
    border-radius: 4px;
    button {
        background: rgba(0, 0, 0, 0);
        color: rgb(202, 202, 202);
    }
    button:hover {
        .art_experience-icon {
            color: rgb(146, 144, 108);
        }
    }   
}
.art_experience-icon {
    color: rgb(146, 144, 108);
}