.art_experience-title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(146, 144, 108);
}
.art_experience-text {
    font-family: 'Inter beta',sans-serif;
    color: #303030d5;
    font-weight: 300;
    text-transform: none;
    box-shadow: 1px, 3px #ffffff4f;
}
