@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.art_experience-title {
    font-family: 'Balthazar', serif;
    color: rgb(146, 144, 108);
}

.art_experience-text-dark {
    font-family: 'Balthazar', serif;
    color: #303030d5;
    font-weight: 300;
    text-transform: none;
    box-shadow: 1px, 3px #ffffff4f;
}

.art_experience-text-light {
    font-family: 'Balthazar', serif;
    color: #ffffffef;
    font-weight: 300;
    text-transform: none;
    box-shadow: 1px, 3px #ffffff4f;
}

.art-title {
    font-size: calc(1vw + 14px);
}

.art-text {
    font-size: calc(1vw + 8px);
}