/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(228, 228, 228);
  box-shadow: 0 0 0px 1000px rgb(24, 24, 24) inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.322);
  // border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(7, 3, 3, 0.5);
}

body {
  margin: 0;
  padding: 0;
}
.backgroud-page {
  background: linear-gradient(rgb(114, 114, 114), rgb(0, 0, 0));
  position: absolute;
  width: 100%;
  height: 100%;
}
