/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(228, 228, 228);
  box-shadow: 0 0 0px 1000px rgb(24, 24, 24) inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.322);
}

::-webkit-scrollbar-thumb {
  height: max-content !important;
  box-shadow: inset 0 0 3px rgb(146, 144, 108);
  border-radius: 4px;
}

a {
  color: rgba(0, 0, 0, 0) !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-x: hidden;
  overflow-y: hidden;
}

.backgroud-page {
  background: linear-gradient(rgb(114, 114, 114), rgb(0, 0, 0));
  position: absolute;
  width: 100%;
  height: 100%;
}

.dark {
  background-color: black;
}

.light {
  background-color: white;
}

.text-light {
  font-family: 'Balthazar', serif;
  color: #303030d5;
  font-weight: 300;
  text-transform: none;
  box-shadow: 1px, 3px #ffffff4f;
}

.text-dark {
  font-family: 'Balthazar', serif;
  color: #ffffffef;
  font-weight: 300;
  text-transform: none;
  box-shadow: 1px, 3px #ffffff4f;
}



// TextField
.theme-text_field--light {
  margin-top: 5px;

  .label {
    color: rgb(214, 214, 214);
  }

  .error-label {
    color: rgb(231, 131, 131);
  }

  .input-box {
    input {
      color: rgb(49, 49, 49);
    }

    .text_field-icon {
      opacity: 0.4;
    }
  }
}

.theme-text_field--dark {
  margin-top: 5px;

  .label {
    color: rgb(214, 214, 214);
  }

  .error-label {
    color: rgb(231, 131, 131);
  }

  .input-box {
    .hint-label {
      color: rgb(214, 214, 214);
    }

    input {
      border-style: none;
      color: rgb(214, 214, 214);
      background-color: rgb(49, 49, 49);
    }

    .text_field-icon {
      opacity: 0.4;
    }
  }
}