::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.322);
}

::-webkit-scrollbar-thumb {
  height: max-content !important;
  box-shadow: inset 0 0 3px rgb(146, 144, 108);
  border-radius: 4px;
}

a {
  color: rgba(0, 0, 0, 0) !important;
}

body {
  // background-image: url("https://previews.123rf.com/images/sunspire/sunspire1610/sunspire161000338/64589322-vector-modern-abstract-geometry-memphis-pattern-black-and-white-seamless-geometric-background-subtle.jpg");
  background-repeat: repeat;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-x: hidden;
  overflow-y: hidden;
}

.backgroud-page {
  background: linear-gradient(rgb(114, 114, 114), rgb(0, 0, 0));
  position: absolute;
  width: 100%;
  height: 100%;
}


// BACKGROUNDS
.dark {
  background-color: #333333;
}

.light {
  background-color: white;
}

// FONTS
.title {
  font-size: calc(1vw + 14px);
  color: rgb(146, 144, 108);
}

.text {
  font-size: 13px;
}

.text-light {
  font-family: 'Roboto', sans-serif;
  color: #303030d5;
  font-weight: 300;
  text-transform: none;
  box-shadow: 1px, 3px #ffffff4f;
}

.text-dark {
  font-family: 'Roboto', sans-serif;
  color: #bebebeef;
  text-transform: none;
}