.login-box {
  padding-bottom: 10px;
  margin: auto;
  border-radius: 10px;
  &__title {
    position: relative;
    text-align: center;
    top: 10px;
    color: rgb(255, 255, 255);
    font-family: "DejaVu Sans Mono", monospace;
    font-weight: 5;
  }
}
