@import '../../../styles/theme.scss';

.footer-card {
    background-color: rgb(12, 12, 12) !important;

    .card_title {
        color: $cool-color;
    }

    p {
        color: white;
    }

    .home-footer {
        position: relative;
        width: 80%;
        height: max-content;
        margin: auto;
        padding: 20px;

        .footer_logo-img {
            position: relative;
            width: 20vw;
            height: 6vh;
            filter: drop-shadow(40px 40px 40px rgb(0, 0, 0));
        }

        .logo {
            text-align: center;
            font-size: 30px;
        }

        .footer-social {
            position: relative;
            width: 100%;
            text-align: center;

            .footer-social-logo {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 30px;
                margin: 0 20px 0 20px;
                color: rgb(146, 144, 108);
                border-radius: 50%;
            }

            .footer-social-logo:hover {
                box-shadow: 0px 0px 30px 0px rgb(58, 57, 44);
            }
        }

        .footer-email {
            font-size: 12px !important;
            margin: auto;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .footer-bussiness {
            position: relative;
            top: 10px;
            text-align: center;
        }
    }

}

// IPHONE5/SE
@media only screen and (max-width: $mobile-screen) {
    .home-footer {
        margin: auto;
        width: 100%;
        padding: 20px 0 20px 0;

        .footer_logo-img {
            width: 100px;
            height: 40px;
        }

        .footer-social {
            .footer-social-logo {
                width: 20px;
                height: 20px;
            }
        }

        .footer-email {
            text-align: center !important;
        }
    }
}