.card {
  position: relative;
  margin: 20px;
  height: max-content;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 5px rgb(146, 144, 108);
  .card_title {
    position: relative;
    margin: 0;
    padding-top: 20px;
    color: rgb(146, 144, 108);
    text-shadow: 5px 5px 5px #000000;
  }
  .card_subtitle {
    position: relative;
    font-size: 18px;
    margin: 20px;
    color: rgb(214, 214, 214);
  }
  .card_items {
    position: relative;
    width: 100%;
    top: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .card {
      margin: 0;
  }
}