.card {
  position: relative;
  min-height: max-content;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  // margin: 20px 0 20px 0;

  .card_title {
    position: relative;
    margin: 0;
    color: rgb(146, 144, 108);
  }

  .card_subtitle {
    position: relative;
    margin: 0;
    margin-top: 20px;
  }

  .card_items {
    position: relative;
    width: 100%;
    text-align: center;
  }
}