.time-box {
    position: relative !important;
    width: max-content;
    margin: auto;

    .no-hours {
        width: max-content;
        margin: auto;
        margin-top: 20px;
        padding: 0;
    }
}