$primary: rgb(33, 33, 33); //'#212121'
$p_light: rgb(72, 72, 72); //'#484848'
$p_light:rgb(211, 211, 211); //'#e5e5e5'
$p_dark: rgb(0, 0, 0); //'#000'

$secondary: rgb(0, 168, 231); //'#00a8e7'
$s_light: rgb(100, 217, 255); //'#64d9ff'
$s_dark: rgb(0, 121, 181); //'#0079b5'

$text_on_p: rgb(255, 255, 255); //'#ffffff'
$text_on_s: rgb(255, 255, 255); //'#ffffff'
$text_dark: rgb(58, 58, 58);
$text_error: rgb(255, 116, 116);