$f1: 34px;
$f2: 30px;
$f3: 24px;
$f4: 21px;
$f5: 14px;
$f6: 10px;

// Fonts sizes
$font_size_responsive: 0;
$font_size_small: 14px;
$font_size_medium: 16px;
$font_size_big: 24px;
$font-size-extra_big: 34px;