body {
  margin: 0;
  padding: 0;
}
.page-box{
  background: white;
  position: absolute;
  width: 100%;
  height: calc(100% - 61px);
  display: flex;

  .dashboard {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(114, 114, 114);
    // visibility: hidden;
  }
}
