@import '../styles/theme.scss';

.titlex {
    margin: 0;
    padding: 0;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    color: red;
}

.dashboard {
    background-color: rgb(0, 0, 0);
    height: max-content;

    .info-text {
        padding: 0;
        margin: 0;
        font-size: 22px !important;
        font-style: bold;
        color: rgb(0, 0, 0);
        margin: auto;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .icon {
        color: $cool-color;
        font-size: 30px;
    }


    // .text {
    //     padding: 0;
    //     margin: 0;
    //     color: rgb(0, 0, 0);
    //     margin: auto;
    //     margin-bottom: 20px;
    // }

    .afiche {
        position: relative;
        margin: auto;
        top: 100px;
        width: 874px;
        height: 1240px;
        background-color: rgb(255, 255, 255);

        .logo {
            position: relative;
            width: 50%;
            top: 40px;
            margin: auto;

            img {
                width: 100%;
                margin: auto;
            }
        }

        .services-box {
            position: relative;
            top: 40px;
            width: 80%;
            height: 300px;
            margin: auto;

            .service {
                position: relative;
                height: max-content;
                display: flex;
                margin: auto;
                margin-bottom: 20px;

                .icon {
                    color: $cool-color !important;
                    height: 100% !important;
                    margin-right: 32px;
                }

                .text-box {}


                .info-text {
                    padding: 0;
                    margin: 0;
                    margin-top: 5px;
                    text-align: left;
                }
            }
        }

        .hour-box {
            position: relative;
            top: 40px;
            width: 100%;
            height: 300px;
            margin: auto;
            margin-bottom: 100px !important;
            background-color: green;

            .hour {

                display: flex;
                align-items: flex-end;

                .info {
                    width: 50%;
                }

                .data {
                    width: 50%;
                    position: relative;
                    margin-left: auto;
                    text-align: right;
                }

                .text {
                    padding: 0;
                    margin: 0;
                    color: white;
                    margin: auto;
                    margin-bottom: 20px;
                }
            }

        }

        .container {
            position: relative;
            width: 100%;
            height: 100%;
            padding-top: 40px;
            display: flex;


            .left-box {
                position: relative;
                width: 50%;
                height: max-content;
            }

            .right-box {
                position: relative;
                width: 50%;
                height: 70%;
                display: inline;
                // background-color: blue;

                .hours-box {
                    position: relative;
                    top: 40px;
                    width: 80%;
                    height: 300px;

                    .hour {
                        display: flex;
                        align-items: flex-end;

                        .info {
                            width: 70%;
                        }

                        .data {
                            width: 50%;
                            position: relative;
                            margin-left: auto;
                            text-align: right;
                        }

                        .text {
                            padding: 0;
                            margin: 0;
                            color: white;
                            margin: auto;
                            margin-bottom: 20px;
                        }
                    }

                }

                .courses-box {
                    position: relative;
                    top: 40px;
                    width: 80%;
                    height: 300px;
                    margin: auto;
                    margin-bottom: 100px;

                    .course {
                        position: relative;
                        height: max-content;
                        display: flex;
                        margin: auto;
                        margin-bottom: 20px;

                        .box-text {
                            position: absolute;
                            right: 70px !important;
                        }

                        .text-box {
                            text-align: right;
                        }

                        .icon {
                            margin-left: auto;
                            height: 100% !important;
                            margin-right: 0;
                            color: $cool-color;
                        }

                        .info-text {
                            position: relative;
                            margin: 0;
                            margin-top: 5px;
                            margin-right: 0 !important;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 400px;

    .coso {
        .service {
            margin: auto;
            width: max-content;
        }
    }

    .text {
        padding: 0;
        margin: 0;
        color: white;
        margin: auto;
    }

    .web {
        margin: auto;
        text-align: center;
        text-transform: unset;
    }
}