$menu_size: 200px;
.left_menu {
  .dialog_activator-btn {
    background-color:rgba(255, 255, 255, 0);
  }
  .menu-icon {
    position: relative;
    left: 20px;
    top: 2px;
  }
  @media only screen and (min-width: 800px) {
      .menu-icon {
        visibility: hidden;
        position: absolute;
      }
}
  .left_menu-dialog {
      .dialog-modal {
        position: relative;
        width: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.568);
        height: calc(100%);
        border-radius: 0;
        .close-box {
          position: relative;
          left: 26px;
          top: 10px;
        }
        .header {
          height: 60px;
        }
        .footer {
          visibility: hidden;
        }
        .content {
          position: relative;
          text-align: center;
          padding-top: 100px;
          .left_menu-btn {
            width: 80vw;
            height: 40px;
            margin-bottom: 40px;  
          }
        }
      }
    }
}
