.reserve-step {
    position: absolute;
    width: 100%;
    height: calc(100%  - 60px); // step fop
    .step-title {
      position: relative;
      height: 60px;
      display: flex;
      align-items: center;
      text-align: center;
      p {
        position: relative;
        width: max-content;
        font-size: 14px;
        margin: 0;
        margin: auto;
        color: rgb(214, 214, 214);
      }
    }
    }
    .time-box {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }
    @media only screen and (max-width: 800px) { 
      .time-box {
        display: inline;
        text-align: center;
        .calendar-box {
          margin: auto;
        }
      }
    }
    .confirm_data-box {
      position: relative;
      width: 100%;
      margin-top: 40px;
      text-align: center;
      overflow-x: none;
      .confirm_info {
        font-size: 18px;
        color: rgb(170, 170, 170);
        animation-name: slide-left;
        animation-duration: 1s;
      }
    }
  