.manager-dialog {
    .content-manager {
        width: max-content;
        display: flex;
        margin: auto;

        // background-color: green;
        .step {
            margin: 0 40px;
        }
    }
}