.client_info-box {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: none;
    text-align: center;
    animation-name: slide-top;
    animation-duration: 1s;
    p {
      color: white;
    }
    .login-box {
      margin-bottom: 40px;
    }
  }
  