/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(228, 228, 228);
}

.text-field {
  position: relative;
  margin-top: 5px;

  .label {
    position: relative;
    font-size: 12px;
    margin: 0;
    left: 0px;
    margin-bottom: 2px;
    color: rgb(214, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
  }

  .error-label {
    font-size: 13px;
    margin-left: 5px;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(231, 131, 131);
  }

  .input-box {
    input {
      height: 18px;
      outline: none;
      border-width: 1px;
      padding: 5px;
      padding-left: 10px;
      color: rgb(49, 49, 49);
      font-size: 14px;
      font-style: normal;
    }

    .text_field-icon {
      position: absolute;
      top: 36px;
      right: 5px;
      opacity: 0.4;
    }
  }
}