@import '../../../styles/theme.scss';

.confirm_data-box {
    position: relative;
    // background-color: green;
    width: 100%;
    margin: auto;
    height: max-content;
    margin-top: 40px;
    text-align: center;
    overflow-x: none;

    .services-box {
        position: relative;
        width: 60%;
        margin: auto;
        // margin: auto;
        // background-color: red;
    }

    .box-item {
        border-width: 1px;
        border-color: $warm-color;
    }

    .confirm_info {
        color: rgb(170, 170, 170);
    }

    .success-icon {
        width: 80px;
        height: 80px;
        color: rgb(199, 194, 109);
    }
}