.confirm_data-box {
    position: relative;
    width: 100%;
    height: max-content;
    margin-top: 40px;
    text-align: center;
    overflow-x: none;

    .service-box {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(146, 144, 108);
    }

    .confirm_info {
        color: rgb(170, 170, 170);
    }

    .success-icon {
        width: 80px;
        height: 80px;
        color: rgb(199, 194, 109);
    }
}