@import '../../../styles/theme.scss';

.custom-table {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 60px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;

    .title {
        position: relative;
        margin: 0;
        padding-top: 20px;
        margin-bottom: 20px;
        color: rgb(146, 144, 108);
    }

    p {
        color: rgb(223, 223, 223);
    }

    .table {
        position: relative;
        width: 90%;
        height: 75%;
        margin: auto;
        overflow-x: hidden;
        overflow-y: hidden;

        .search-field {
            position: relative;
            text-align: left;

            .label {
                top: 22px;
                left: 10px;
                z-index: 1;
            }
        }

        .header {
            height: 60px;
            display: flex;
            align-items: center;
            background-color: rgb(24, 24, 24);

            .header-item {
                display: flex;
                justify-content: center;
            }

            .header_button-content {
                width: max-content;
                height: max-content;
                display: flex;

                .icon {
                    width: 15px;
                    color: rgb(146, 144, 108);
                }
            }

            .selected {
                p {
                    color: rgb(146, 144, 108);
                }
            }
        }

        // FOOTER

        .table-footer {
            position: relative;
            width: 100%;
            height: 60px;
            background-color: rgb(24, 24, 24);
            display: flex;
            align-items: center;

            .pagination-box {
                display: flex;
                width: max-content;
                margin-right: 20px;
                margin-left: auto;

                p {
                    padding: 0;
                    margin: 0;
                }
            }
        }

        .row-box {
            height: 60vh;
            overflow-y: scroll;
            overflow-x: hidden;
            box-shadow: inset 0px 0px 2px 2px rgb(24, 24, 24);

            .row {
                position: relative;
                margin: auto;
                width: 100%;
                height: max-content;
                display: flex;

                .selected {
                    color: rgb(146, 144, 108);
                }

                .left-box {
                    position: relative;
                    width: 5%;
                    height: 100%;

                    .icon {
                        z-index: 1;
                        position: relative;
                        margin: 20px !important;
                    }
                }

                .content-box {
                    position: relative;
                    width: 90%;
                    height: 100%;
                    margin-top: 10px;

                    .header_table-text {
                        font-size: 14px;
                    }

                    .item_table-text {
                        font-size: 14px;
                        margin-top: 10px;
                        text-transform: none;
                    }

                    .item_status-box {
                        position: relative;
                        border-style: solid;
                        border-radius: 10px;
                        text-align: center;

                        .item_status-text {
                            margin: 10px;
                        }
                    }

                    .icon {
                        position: absolute;
                        top: 5px;
                        margin: auto;
                    }
                }

                .right-box {
                    position: relative;
                    width: 5%;
                    height: 100%;

                    .icon {
                        z-index: 9999;
                        position: relative;
                        margin: 20px;
                        right: 40px !important;
                    }
                }
            }

            .selected-row {
                background-color: rgb(39, 39, 39);
            }

            .row:hover {
                background-color: rgba(117, 117, 117, 0.63);
                cursor: pointer;
            }
        }
    }
}