@import '../../styles/effects.scss';
$menu_size: 200px;

.left_menu {

  .dialog_activator-btn {
    background-color: rgba(255, 255, 255, 0);
  }

  .activator_btn {
    position: absolute;
    visibility: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    color: red !important;
  }

  @media only screen and (max-width: $mobile-screen) {
    .activator_btn {
      visibility: visible;
      position: relative;
    }
  }

  .left_menu-dialog {
    width: 50%;
    text-align: center;
    background-color: red;

    a {
      position: relative;
      top: 0 !important;
    }

    .logo {
      width: 100%;
      text-align: center;

      .logo-img {
        width: 40%;
        visibility: visible;
        margin: auto;
      }
    }

    button {
      width: 100%;
      text-align: center;

      p {
        margin: auto !important;
      }
    }

    .dialog-modal {
      height: 100%;
      background-color: red;

      .header {
        height: 60px;
        border-radius: 0;

        .close_btn-box {
          text-align: left;

          .close_btn {
            height: 100%;
            display: flex;
            align-items: center;
          }
        }
      }

      .footer {
        visibility: hidden;
      }

      .content {
        position: relative;
        width: 100%;
        // background-color: green;

        .left_menu-btn {
          position: relative;
          margin-bottom: 60px;
          width: 100%;

          a {
            width: 90%;
            margin: auto;

            button {
              position: absolute;
              width: 100%;
              height: 60px;
              display: flex;
              align-items: center;
              text-align: center;

              .label_button {
                display: inline;
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    right: 100vw;
  }

  100% {
    opacity: 1;
    right: 0px;
  }
}